<!-- <nav class="navbar">
  <input class="form-control" type="text" name="SalesId" [(ngModel)]= 'SalesId' (ngModelChange) ="search()"
  placeholder="Enter Sales Id">

</nav> -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Dashboard  </li>
  </ol>
</nav> -->
<!-- <input type="text" #myInput (input)="Search()"  /> -->



<breadcrumb #parent>
  <ol class="breadcrumb">
    <ng-template *ngFor let-route [ngForof]="parent.breadcrumbs">
      <li *ngIf="!route.terminal" class="breadcrumb-item">
        <a href="" [routerLink]="[route.url]">{{route.displayName}}</a>
      </li>
    </ng-template>
  </ol>

</breadcrumb>


<mat-accordion>
  <!-- #docregion basic-panel -->
  <!-- #docregion hide-toggle -->
    <mat-expansion-panel hideToggle>
  <!-- #enddocregion hide-toggle -->
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
  <!-- #enddocregion basic-panel -->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search Job Card
        </mat-panel-title>
        <mat-panel-description>
           More search functions
        </mat-panel-description>
      </mat-expansion-panel-header>
      



      <!-- <div class="card" >
        <div class="card-body"> -->
          <!-- 1st row -->
          <div class="row">
            <div class="col-12"><label >Filtering</label> <hr /></div>
            
          </div>
    
          <!-- 2nd row -->
          <div class="row">
            <div class="col-2">
              <input type="radio"  value="Sales Order" id="radioSalesOrder" (click)="radioSalesOrder()" name="radio"><label>&nbsp;&nbsp;Sales Order</label> 
              </div>
    
              <div class="col-4">
                <div class="row">
                  <div class="col-3"></div>
                  <div class="col-9"><input type="text" id="txtSalesOrder"> </div>
                  </div>
     
              </div>
    
              <div class="col-4">
              </div>
              <div class="col-2">
              </div> <br> <br>
              </div>
    
    <!--3rd row -->
              <div class="row">
                <div class="col-2">
                  <input type="radio" checked value="Due Date" id="radioDueDate" (click)="radioDueDate()" name="radio" ><label>&nbsp;&nbsp;Due Date</label>
                  </div>
        
                  <div class="col-4">
                    <div class="row">
                      <div class="col-3"><label >From :</label> </div>
                      <div class="col-9"><input type="date" id="fromDate" name="fromDate"> </div>
                      </div>
         
                  </div>
        
                  <div class="col-4">
                    <div class="row">
                      <div class="col-2"><label >To :</label> </div>
                      <div class="col-10"><input type="date" id="toDate" name="toDate"> </div>
                      </div>
         
                  </div>
                  <div class="col-2">
                  </div>
                  </div>
    
                 
                  
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-12">
    
                      <p>
                        <button type="button" style="margin-left: 5px;" style="margin-right: 20px;"  class="btn btn-outline-primary btn-sm" (click)="searchModel()">Search</button>
                        <button type="button" style="margin-left: 5px;" style="margin-right: 20px;"  class="btn btn-outline-primary btn-sm" (click)="resetSearchModel()">Reset Search</button>
    
    
                        <a  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                          Advance Search
                        </a>
                      </p>
                      <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                          
                          <div class="row">
                              <div class="col-2"> </div>
                              <div class="col-8">
                                <div class="row">
                                  <div class="col-5"><label style="font-weight: bold;" >Field</label></div>
                                  <div class="col-2"><label style="font-weight: bold;" >Sign</label></div>
                                  <div class="col-5"><label style="font-weight: bold;" >Value</label></div>
    
                                </div>
                              </div>
                              <div class="col-2"> </div>
                          </div>
                          <!-- Second Row -->
                          <div class="row">
                            <div class="col-2"> </div>
                            <div class="col-8">
                              <div class="row">
                                <div class="col-5"><label  >Sales Id</label></div>
                                <div class="col-2"><select id="cbSalesId">
                                  <option>like</option>
                                  <option > = </option>
                                  <option> <> </option>
                                  <option> < </option>
                                  <option> > </option>
                                </select></div>
                                <div class="col-5"><input type="text" id="txtSalesId"/></div>
    
                              </div>
                            </div>
                            <div class="col-2"> </div>
                        </div>
                          <!-- End  -->
                          <!-- Third Row -->
                          <div class="row">
                            <div class="col-2"> </div>
                            <div class="col-8">
                              <div class="row">
                                <div class="col-5"><label  >Stock Code</label></div>
                                <div class="col-2"><select id="cbStockCode">
                                  <option>like</option>
                                  <option> = </option>
                                  <option> <> </option>
                                  <option> < </option>
                                  <option> > </option>
                                </select></div>
                                <div class="col-5"><input type="text" id="txtStockCode"/></div>
    
                              </div>
                            </div>
                            <div class="col-2"> </div>
                        </div>
                          <!-- End -->
                          <!--  Due Date -->
                          <div class="row">
                            <div class="col-2"> </div>
                            <div class="col-8">
                              <div class="row">
                                <div class="col-5"><label  >Due Date</label></div>
                                <div class="col-2"><select id="cbDueDate">
                                  <option>like</option>
                                  <option> = </option>
                                  <option> <> </option>
                                  <option> < </option>
                                  <option> > </option>
                                </select></div>
                                <div class="col-5"><input type="text" id="txtDueDate"/></div>
    
                              </div>
                            </div>
                            <div class="col-2"> </div>
                        </div>
                          <!-- End -->
                        <!--  Order Date-->
                        <div class="row">
                          <div class="col-2"> </div>
                          <div class="col-8">
                            <div class="row">
                              <div class="col-5"><label  >Order Date</label></div>
                              <div class="col-2"><select id="cbOrderDate">
                                <option>like</option>
                                <option> = </option>
                                <option> <> </option>
                                <option> < </option>
                                <option> > </option>
                              </select></div>
                              <div class="col-5"><input type="text" id="txtOrderDate"/></div>
    
                            </div>
                          </div>
                          <div class="col-2"> </div>
                      </div>
                        <!-- End -->
                        <!-- Production Start Date -->
                        <div class="row">
                          <div class="col-2"> </div>
                          <div class="col-8">
                            <div class="row">
                              <div class="col-5"><label  >Production Start Date</label></div>
                              <div class="col-2"><select id="cbProdStartDate">
                                <option>like</option>
                                <option> = </option>
                                <option> <> </option>
                                <option> < </option>
                                <option> > </option>
                              </select></div>
                              <div class="col-5"><input type="text" id="txtProdStartDate"/></div>
    
                            </div>
                          </div>
                          <div class="col-2"> </div>
                      </div>
                        <!-- End -->
                        <div class="row">
                          <button type="button" style="margin-left: 5px;" style="margin-right: 20px;"  class="btn btn-outline-primary btn-sm" (click)="advancedSearchModel()">Search</button>
    
    
                        </div>
                        </div>
                      </div>
                      
                      
    
                    </div>
                    <!-- Expantion Panel -->
                   
    
    
                  </div>
    
         
        <!-- </div>
      </div> -->

      
    </mat-expansion-panel>
  </mat-accordion>







  


  <div class="row" ></div>
  <!-- ///////////////////////////////////////////////////// -->

        <div class="card" >
        <div class="card-body">

  <mat-form-field>
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
  </mat-form-field>

  <div class="example-container mat-elevation-z8 table  table-bordered table-sm">
  <table mat-table [dataSource]="dataSource" matSort >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
          <ng-container matColumnDef="jobcard">
            <th mat-header-cell *matHeaderCellDef> Job Card </th>
            <td mat-cell *matCellDef="let element"><a (click)="printjobcard(element)"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
              <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
              <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            </svg></a> </td>
          </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="salesid">
      <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 2px;" > Sales Id </th>
      <td mat-cell *matCellDef="let element"><button class="btn btn-outline-primary mb-2 mr-2" (click)="openJobCardDetails(content,element.salesid)"> {{element.salesid}} </button> </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="stockcode">
      <th mat-header-cell mat-sort-header *matHeaderCellDef > Stock Code </th>
      <td mat-cell *matCellDef="let element"> {{element.stockcode}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell mat-sort-header *matHeaderCellDef > Status</th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="instage">
      <th mat-header-cell mat-sort-header  *matHeaderCellDef > In Stage </th>
      <td mat-cell *matCellDef="let element"> {{element.instage}} </td>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="orderdate" >
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Order Date </th>
      <td mat-cell *matCellDef="let element"> {{element.orderdate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DueDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Due Date </th>
      <td  mat-cell *matCellDef="let element"> {{element.DueDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="CompleteDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Complete Date </th>
      <td mat-cell *matCellDef="let element"> {{element.CompleteDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="OrderQTY">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Order Qty </th>
      <td mat-cell *matCellDef="let element"> {{element.OrderQTY}} </td>
    </ng-container>

    <ng-container matColumnDef="ProductionStartDate">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Production Start Date </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductionStartDate}} </td>
    </ng-container>

    <ng-container matColumnDef="ProductionComplete">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Production End Date </th>
      <td mat-cell *matCellDef="let element"> {{element.ProductionComplete}} </td>
    </ng-container>

    <ng-container matColumnDef="Sales">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Sales</th>
      <td mat-cell *matCellDef="let element"> {{element.Sales}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Cost">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.Cost}} </td>
    </ng-container>

    <ng-container matColumnDef="Gp">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Gp </th>
      <td mat-cell *matCellDef="let element"> {{element.Gp}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Note">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let element"> {{element.Note}} </td>
    </ng-container>
    
    <ng-container matColumnDef="AddtionalNotes">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Addtional Notes </th>
      <td mat-cell *matCellDef="let element"> {{element.AddtionalNotes}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Color">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.Color}} </td>
    </ng-container>

    <ng-container matColumnDef="rowColour">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> rowColour </th>
      <td mat-cell *matCellDef="let element"> {{element.rowColour}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let entry" [ngClass]="{ 'highlight': entry.rowColour == 'RED' ,'highlightgreen': entry.rowColour == 'GREEN' ,'highlightyello': entry.rowColour == 'YELLO'}" ></tr>

  </table>

</div>
<mat-paginator [length]="100"
[pageSize]="25"
[pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>



</div>
</div>
  
  

  <!-- ////////////////////////////////////////////////////// -->
  

<!-- <table matSort  class="text-nowrap tblFont table table-bordered container-fluid table-striped table-hover table-sm thead-dark" 
style="text-align: left; margin-top: 20px; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
  <thead>
    <tr>
      <th mat-sort-header>Job Card</th>
      <th mat-sort-header>Sales Id</th>
      <th>Stock Code</th>
      <th>Status</th>
      <th>In Stage</th>
      <th>Order Date</th>
      <th>Due Date</th>  
      <th>Est. Completion Date</th>
      <th>Order Qty</th>  
      <th>Production Start</th>
      <th>End Production</th>
      <th>Sales</th>
      <th>Cost</th>
      <th>Gp</th>
      <th>Note</th>
      <th>Additional Note</th>
      <th>Color</th>

    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let data of jobCards">
        <td><a href="print"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
          <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
          <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
        </svg></a></td>
        <td><button class="btn btn-outline-primary mb-2 mr-2" (click)="openJobCardDetails(content,data.SalesId)">{{data.SalesId}}</button>  </td>
        <td>{{data.StockCode}}</td>
        <td>{{data.Status}}</td>
        <td>{{data.InStage}}</td> 
        <td>{{data.OrderDate}}</td>
        <td>{{data.DueDate}}</td> 
        <td>{{data.DueDate}}</td> 
        <td style="text-align: right">{{data.OrderQTY}}</td> 
        <td>{{data.ProductionStartDate}}</td>
        <td>{{data.ProductionComplete}}</td>
        <td style="text-align: right">{{data.Sales}}</td>
        <td style="text-align: right">{{data.Cost}}</td>
        <td style="text-align: right">{{data.Gp}}</td>
        <td>{{data.Note}}</td>
        <td>{{data.AddtionalNotes}}</td>
        <td>{{data.Color}}</td>
      </tr>
    </tbody>


</table> -->
<!-- <button class="btn btn-outline-primary mb-2 mr-2" (click)="openX2(content)">Extra large modal</button> -->











<!-------------------------------------------------- popup Eliment ---------------------------------->
<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <div class="btn-group btn-group-sm" role="group" aria-label="Basic example" style="margin-left: 30px;">
      <button type="button" (click)='SaveItem()' class="btn btn-secondary">Save</button>
      <button type="button" class="btn btn-secondary" style="margin-left: 3px;" >Refresh</button>
      <button type="button" (click)='AddItem()' class="btn btn-secondary" style="margin-left: 3px;">Add</button>
      <button type="button" class="btn btn-secondary" style="margin-left: 3px;">Delete</button>
    </div> -->
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>


  <mat-accordion>
    <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
      <mat-expansion-panel hideToggle>
    <!-- #enddocregion hide-toggle -->
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    <!-- #enddocregion basic-panel -->
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Job Card Number {{salesId}}
          </mat-panel-title>
          <mat-panel-description>
             More Job Card Details
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <div class="card">
          <div class="card-header">
            Job Details
          </div>
          <div class="card-body">
            
            <div class="content">
              <div class="row">
                <div class="col-4">
                  <label for="formGroupExampleInput" class="col-6" >Job Oder Number </label>
                  <input readonly type="text"  class="rounded col-6"  id="jobordernumber" value={{salesId}} > 
                </div>
                <div class="col-8">
                  <label for="formGroupExampleInput" class="col-3" >Job Status  </label>
                  <input readonly type="text" class="rounded col-3"    id="jobstatus" value={{prodStatus}} >
                  <label for="formGroupExampleInput" class="col-3" >Overdue Dates  </label>
                  <input readonly type="text" class="rounded col-3"    id="jobstatus" >
                </div>
                <!-- <div class="col-4">
                  <label for="formGroupExampleInput" class=" col-6" >Overdue Date  </label>
                  <input readonly type="text" class="rounded col-6"  id="overduedate" value={{DueDate}} >
                </div> -->
              </div>
        
              <div class="row tableHeaderTopmargin">
                <div class="col-4">
                  <label for="formGroupExampleInput" class=" col-6" >Order Date  </label>
                  <input readonly type="text" class="rounded col-6"  id="orderdate" value={{OrderDate}}>
                </div>
                <div class="col-8">
                  <label for="formGroupExampleInput"  class=" col-3" >Customer Name  </label>
                  <input readonly type="text" style="padding-left: 20px;" class="rounded col-9"   id="customername" >
                </div>
              </div>
        
              <div class="row tableHeaderTopmargin">
                <div class="col-4">
                  <label for="formGroupExampleInput" class=" col-6" >Due Date  </label>
                  <input readonly type="text" class="rounded col-6"  id="duedate" value={{DueDate}} >
                </div>
                <div class="col-8">
                  <label for="formGroupExampleInput" class="col-3" style="padding-top: 5px;" >Customer Reference1  </label>
                  <textarea readonly style="border-width: 2px;" class="rounded col-9" id="exampleFormControlTextarea1" rows="1">{{Note}}</textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="formGroupExampleInput" class=" col-6" >Plan Production Date  </label>
                  <input  type="date" class="rounded col-6"  id="duedate" value={{PlanProductionDate}} >
    
                </div>
                <div class="col-4">
    
                </div>
                <div class="col-4">
    
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    



<!-- ------------------------------------------ Start Tab---------------------------------- -->








    
<div class="card" >
  <div class="card-body">
    
    <div class="tablemap" style="margin-top: 10px;">
      <!-- Start Tab -->
      <tabset>
        <!---------------------------------------------- start First Tab - Setup----------------------------- -->
        <tab heading="Setup" id="tab1"> 
          <div class="row" style="margin-bottom: 50px;">
            <div class="col-3">
    
            </div>
            <div class="col-2">All Devisions:
              <select  [(ngModel)]="allDevision" id="ingredients" multiple="multiple" size="10" style="width: 200px; margin-top: 10px;">
                <option *ngFor="let option of prodDevision" [value]="option.opCode">
                  {{option.opCode}}
                </option>
              </select>
            </div>
            <div class="col-2" > <button style="margin-top: 70px; margin-left: 40px;"  class="btn btn-outline-primary mb-2 mr-2" (click)='moveRightSelected()'>Move => </button> <br />
              <button style="margin-left: 40px;" class="btn btn-outline-primary mb-2 mr-2"  (click)='moveLeftSelected()'><= Move</button></div>
          <div class="col-2">Selected Devisions:
            <select  [(ngModel)]="selectedDevision" id="ingredients" multiple="multiple" size="10" style="width: 200px; margin-top: 10px;">
              <option *ngFor="let option of selectDevision" [value]="option.opCode">
                {{option.opCode}}
              </option>
            </select>
            
            </div>
            <div class="col-3"></div>
    
            
            
            
              </div>
          
          <table class="text-nowrap tblFont table table-bordered container-fluid table-striped table-hover table-sm thead-dark" 
    style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
      <thead>
        <tr>
          
          <th>Solineid</th>
          <th>Stock Code</th>
          <th>Description</th>
          <th>Ord Quantity</th>
          <th>Inv Quantity</th>
          <th>Unit Price</th>
          <th>Location</th>
    
    
        </tr>
      </thead>
        <tbody >
          <tr *ngFor="let data of prodOrder">
            <td>{{data.SalesLine}}</td>
            <td>{{data.StockCode}}</td>
            <td>{{data.Note}}</td>
            <td>{{data.OrderQTY}}</td>
            <td>{{data.SalesLine}}</td>
            <td>{{data.SalesLine}}</td>
            <td>{{data.SalesLine}}</td>
          </tr>
        </tbody>
    
    
    </table>
    <!------------------------------------------------------------- End setup table ---------------------->
    
    <!-- Start Production Requirement -->
    <div class="card">
      <div class="card-header">
        Production Requiment {{prodOrder[0]['Drawing']}}
      </div>
      <div class="card-body">
        <div class="content">
          <div class="row" *ngFor="let orderData of prodOrder">
            <div class="col-6">
              <label for="formGroupExampleInput" class="col-3" >Drawing  </label>
              <select class=" rounded col-9 borderWidth" [(ngModel)]="orderData.Drawing"  (change)="selectItemCode(carddata)" [id]="orderData.Drawing" [value]="4">
                <option *ngFor="let item of drawing" [Value]="item.name" [selected]="option ===orderData.Drawing" >{{item.name}}</option>
              </select>
            </div>
            <div class="col-6">
              <label for="formGroupExampleInput" class="col-3" >Finishing  </label>
              <select class=" rounded col-9 borderWidth" [(ngModel)]="orderData.Division"  (change)="selectItemCode(carddata)" [id]="orderData.Division" [value]="4">
                <option *ngFor="let item of finishing" [Value]="item.name" [selected]="option ===orderData.Division" >{{item.name}}</option>
              </select>
            </div>
            </div>
            <!-- End Row -->
    
            <div class="row" *ngFor="let orderData of prodOrder">
              <div class="col-6">
                <label for="formGroupExampleInput" class="col-3" >Color  </label>
                <select class=" rounded col-9 borderWidth" [(ngModel)]="orderData.Color"  (change)="selectItemCode(carddata)" [id]="orderData.Color" [value]="4">
                  <option *ngFor="let item of colourArray" [Value]="item.name" [selected]="option ===orderData.Color" >{{item.name}}</option>
                </select>
              </div>
              <div class="col-6">
                <label for="formGroupExampleInput" class="col-3" >Notes  </label>
                <!-- <input type="text" class="rounded col-9"  id="txtNotes"  [(ngModel)]="orderData.Note" rows="3" > -->
                <textarea  style="border-width: 2px;" class="rounded  col-9" id="txtNotes"  [(ngModel)]="orderData.Note" rows="2"></textarea>
              </div>
              </div>

              <div class="row" *ngFor="let orderData of prodOrder" style="margin-top: 15px;" >
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="orderData.MakeToStock">
                  <label class="form-check-label" for="exampleCheck1">ITEM BEEN MADE FOR THIS ORDER (stock or custom) Tick this for negative stock when invoices</label>
                </div>
              </div>

              <!-- End Row -->
    
              <div class="row" *ngFor="let orderData of prodOrder" style="margin-top: 15px; margin-left: 0.05em;" >
                <div class="col-6" ng-hide='true' >

                  

                  <p>
                    <!-- <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Link with href
                    </a> -->
                    <input type="checkbox" class="form-check-input" id="exampleCheck1"  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <label class="form-check-label" for="exampleCheck1">Sketch Box</label>
                    <!-- <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Link with href
                    </a> -->

                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <textarea  style="border-width: 2px;" class="rounded  col-9" id="exampleFormControlTextarea1"  [(ngModel)]="orderData.AddtionalNotes" rows="3"></textarea>
                    </div>
                  </div>



     
    
                  <!-- <label for="formGroupExampleInput" class=" col-3" style="padding-bottom: 5em;" >Customer Reference2</label>
                  <textarea  style="border-width: 2px;" class="rounded  col-9" id="exampleFormControlTextarea1"  [(ngModel)]="orderData.AddtionalNotes" rows="3"></textarea> -->
                </div>
                <div class="row">
                  
                  
                </div>
    
                
       
                </div>
                <!-- End Row -->

    
                <div class="modal-footer">
                  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                  <button class="btn btn-outline-primary mb-2 mr-2" (click)="SaveItem(prodOrder)">Save1</button>
              
                </div>
    
            </div>
            <!-- End Container -->
    
      </div>
    </div>
    <!-- Start Production Requirement -->
    
    
    
        </tab>
        <!-------------------------------------------------- End First Tab - Setup Tab------------------ -->
    
        <!----------------------------------------------------- Start Second Tab - Devisions-------------------- -->
        <tab heading="Devisions">
          <div class="devisiontab" style="margin-top: 15px; margin-right: 50px; text-align: right;">
            <!-- <button type="button" class="btn btn-outline-primary btn-sm" (click)='AddItem()')">Add Row</button> -->
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="AddItem()">Add Rows</button>
            <button type="button" style="margin-left: 5px;"  class="btn btn-outline-primary btn-sm" (click)="startmodel('Start')">Start</button>
            <button type="button" style="margin-left: 5px;" class="btn btn-outline-primary btn-sm" (click)="startmodel('end')">End</button>
          </div>
    
          <!-- Devision Tab First table -->
          <div class="card" style="margin-top: 25px;" >
            <div class="card-body">
              <!-- 1st row -->
              <div class="row">

                  <table  class="table table-hover"
          style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
            <thead>
              <tr>
                <th></th>
                <th>Stock Code</th>
                <th>Devision</th>
                <th>Assign To</th>
                <th>InOrder Quantity</th>
                <th>Estimated Time</th>
                <th>Status</th>
              </tr>
            </thead>
              <tbody *ngFor="let carddata of devisionTabTable1">
                <tr >
                  <th>
                    <!-- Material unchecked -->
                    <div class="form-check" style="text-align: right ;">
                      <input type="radio" name="rowSelect" (click)="onSelectRadioBtn(carddata)" class="form-check-input" [id]="carddata.Id" [value]="carddata.Id" >
                      <label class="form-check-label" for="tableMaterialCheck1"> </label>
                    </div>
                  </th>
                  <td>{{carddata.StockCode}}</td>
                  <td>{{carddata.Devision}}</td>
                  <td>
                    <!-- <select [(ngModel)]='carddata.AssignTo' >
                      <option *ngFor="let option of userLoginData" [value]="option.id">
                        {{option.name}}
                      </option>
                    </select> -->
          
                    <select [(ngModel)]="carddata.AssignTo" id= "carddata.AssignTo">
                      <option *ngFor="let option of userLoginData" [value]="option.name"  
                      [selected]="option == carddata.assignTo">
                        {{option.name}}
                      </option>
                    </select>
                    
                  </td>
                  <td>{{carddata.OrderQTY}}</td>
                  <td>{{carddata.EstimatedTime}}</td>
                  <td>{{carddata.Status}}</td>
                </tr>
              </tbody>
          </table>

                </div>
              </div>
              </div>
          
    
          <!-- -----------------------------------Devision tab second table ----------------->
          
          <div class="card" style="margin-top: 25px;" >
            <div class="card-body">
              <!-- 1st row -->
              <div class="row">
                  <table class="text-nowrap tblFont table table-bordered container-fluid table-striped table-hover table-sm thead-dark" 
          style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
            <thead>
              <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>Transaction Date</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Line Amount</th>
                <th>Average Cost</th>
              </tr>
            </thead>
              <tbody *ngFor="let carddata of devisionTabTable2">
                <tr >
                  <td>
                    <select [(ngModel)]="carddata.itemCode"  (change)="selectItemCode(carddata)" [id]="carddata.recId" [value]="4">
                      <option *ngFor="let item of stockItems" [Value]="item.stockCode" [selected]="option ===carddata.itemCode" >{{item.stockCode}}</option>
                    </select>
                  </td>
                  <td >{{carddata.description}}</td>
                  <td>{{carddata.transDate}}</td>
                  <td><input type="text" class="form-control" (input)="onQuantityChange($event.target.value,carddata)"  [(ngModel)]="carddata.qty" ></td>
                  <td >{{carddata.unitCost}}</td>
                  <td>{{carddata.lineAmount}}</td>
                  <td>{{carddata.avgCost}}</td>
                </tr>
              </tbody>
          </table>
                </div>
              </div>
              </div>
          





    
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button class="btn btn-outline-primary mb-2 mr-2" (click)="btnSaveDevision(devisionTabTable2)">Save</button>
        
          </div>
    
    
        </tab>
        <!--------------------------------------------------- End Second Tab - Devisions------------------->
    
        <!-- -------------------------------------------------Start Third Tab - Summary---------------------------->
        <tab heading="Summary">Summary
    
          <!-- Summery Tab table -->
    
          <div class="divItem">
            <table class="text-nowrap tblFont table table-bordered container-fluid table-striped table-hover table-sm thead-dark" 
    style="text-align: left; font-size: 13px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; width:100%">
      <thead>
        <tr>
          <th>Stock Code</th>
          <th>Order Qty</th>
          <th>Sales</th>
          <th>Cost</th>
          <th>Gp</th>
          <th>Status</th>
          <th>InStage</th>
          <th>Order Date</th>
          <th>Due Date</th>
          <th>Production Start Date</th>
          <th>Production Conplete</th>
        </tr>
      </thead>
        <tbody *ngFor="let carddata of jobCards">
          <tr >
            <td>{{carddata.StockCode}}</td>
            <td>{{carddata.Note}}</td>
            <td>{{carddata.OrderQTY}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
            <td>{{carddata.SalesLine}}</td>
          </tr>
        </tbody>
    </table>
          </div>
    
        </tab>
        <!----------------------------------------------- End Second Tab - Summary ---------------------------------------->
      </tabset>
    </div>
    

    <div class="row">
      </div>
      </div>
</div>



















<!-- 
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button class="btn btn-outline-primary mb-2 mr-2" (click)="savePopupContent(content)">Save</button>

  </div> -->
</ng-template>



