.tblfont{
    font-size: 10px;
    color: red;
}

.txtpadingleft{
    padding-left: 2em;
}

.txtpadingright{
    padding-right: 10px;
}

.txtboxroundedge{
    border-radius: 1rem;
}

.tableHeaderTopmargin{
    padding-top: 4px;
}

.tableHeaderBottommargin{
    padding-top: 2em;
}

.borderWidth{
    border-width: 2px ;
}

.divStock{
    margin-top: 1em;
}
.divItem{
    margin-top: 2em;
}

p {
    font-family: Lato;
  }


  /* Add application styles & imports to this file! */

ul {
    list-style: none;
    width: 200px;
    border: 1px solid blue;
    height: 200px;
    display: inline-block;
    padding: 5px;
    overflow: auto;
  }
  
  ul > li {
    background: lightcoral;
    color: blue;
    border: 1px solid blue;
    padding: 8px;
  }
  
  .container {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .buttons-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .item-selected {
    background: green;
    color: white;
  }











  .example-container {
    overflow-x: scroll;
  }

  .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}





  .MultiCheckBox {
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:4px;
    cursor:pointer;
}

.MultiCheckBox .k-icon{ 
    font-size: 15px;
    float: right;
    font-weight: bolder;
    margin-top: -7px;
    height: 10px;
    width: 14px;
    color:#787878;
} 

.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    border:1px solid #e2e2e2;
    overflow-y:hidden;
}

.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}

    .MultiCheckBoxDetail .cont  {
        clear:both;
        overflow: hidden;
        padding: 2px;
    }

    .MultiCheckBoxDetail .cont:hover  {
        background-color:#cfcfcf;
    }

    .MultiCheckBoxDetailBody > div > div {
        float:left;
    }

.MultiCheckBoxDetail>div>div:nth-child(1) {

}

.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
}

    .MultiCheckBoxDetailHeader>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }

    .MultiCheckBoxDetailHeader>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }

    .labelCustomerReference{
        display: block; /* add this */
    }

    .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }

      table {
        width: 100%;
      }
      
      .mat-form-field {
        font-size: 14px;
        width: 100%;
      }
      
      td, th {
        width: 25%;
      }


      .highlight_overdue{
        background: red;
      }

      .highlight{
        background: #b42525; /* green */
        color: red;
        
      }

      
      .highlightgreen{
        background: #50dd3e; /* green */
        color: rgb(68, 233, 53);
        
      }

      .highlightyello{
        background: #ecd60c; /* green */
        color: rgb(248, 244, 20);
        
      }