<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form (ngSubmit)='onSubmit(Form)' #Form="ngForm">
        <div class="form-group col-12">
            <label for="name"  class="form-label">First Name</label>
            <input type="text" class="form-control" ngModel name="userFirstName">
        </div>

        <div class="form-group col-12">
          <label for="name" class="form-label">Last Name</label>
          <input type="text" class="form-control" ngModel name="userLastName">
      </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" ngModel name="email">
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Company Name</label>
          <input type="text" class="form-control" ngModel name="companyName">
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" ngModel name="password">
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" ngModel name="confirmPassword">
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" ngModel name="mobile">
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary" name="registerSubmit">Save</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
