<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <app-navbar></app-navbar>
    </div>
    <div class="col-sm-2">
      <app-navbar></app-navbar>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="container" style="margin-top: 70px;">
      <app-left-menu></app-left-menu>
    </div>
    </div>
    <div class="col-sm-10">
      <div class="container" style="margin-top: 70px; margin-left: 10px;">
         <app-userregister></app-userregister>

      </div>
    </div>
  </div>

  </div>

