<div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <app-navbar></app-navbar>
      </div>
      <div class="col-sm-   2">
        <app-navbar></app-navbar>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-sm-2">
        <div class="container" style="margin-top: 70px;">
        <app-left-menu></app-left-menu>
      </div>
      </div>
      <div class="col-sm-10">
        <div class="container" style="margin-top: 70px; margin-left: 10px;">
      
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
              <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Dashboard </li>
            </ol>
          </nav>
            

       



          <div class="card" >
            <div class="card-body">

                <mat-form-field>
                    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
                  </mat-form-field>
            
              <div class="example-container mat-elevation-z8 table table-striped table-bordered table-sm">
              <table mat-table [dataSource]="dataSource" matSort >
            
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                      <ng-container matColumnDef="userId">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 2px;" > User Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.userId}}  </td>
                      </ng-container>
            
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef style="width: 2px;" > Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="manufacture">
                  <th mat-header-cell *matHeaderCellDef> Manufacture </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.manufacture"> </td>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="enable">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef > Enable </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.enable"> </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="sysAdmin">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef > Sys Admin</th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.sysAdmin"> </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="salesModule">
                  <th mat-header-cell *matHeaderCellDef > Sales Module </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.salesModule"> </td>
                </ng-container>
            
                    <!-- Symbol Column -->
                <ng-container matColumnDef="jobCosting" >
                  <th mat-header-cell *matHeaderCellDef> Job Costing Module</th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.jobCosting"> </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="jobCostSales">
                  <th mat-header-cell *matHeaderCellDef> View Sales </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.jobCostSales"> </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="jobCostGP">
                  <th mat-header-cell *matHeaderCellDef> View GP% </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.jobCostGP"> </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="jobCostCost">
                  <th mat-header-cell *matHeaderCellDef> View Cost </th>
                  <td mat-cell *matCellDef="let element"> <input type="checkbox"  id="exampleCheck1" [(ngModel)]="element.jobCostCost"> </td>
                </ng-container>

            
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}}  </td>
                 </ng-container>
            
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>


            </div>
            <mat-paginator 
[pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
          </div>











            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button> -->
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="SaveAdminstrationData()">Save</button>
            
              </div>


              
        </div>
      </div>
    </div>
  
    </div>
  
  