<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/dashboard">CSC Parts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActiveOptions={acact:true} routerLinkActive="active" routerLink="/home" > <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/link"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/sell"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user/register" tabindex="-1" ></a>
      </li>
    </ul>

    <div>
      <ul class="nav navbar-nav">

        <li *ngIf="loggedIn()" class="nav-item">
          <a class="nav-link"
          routerLinkActive="Active"
          > {{ logUserName}} : {{userCompanyName}}</a>
        </li>

        <li *ngIf="!loggedIn()" class="nav-item">
          <a class="nav-link"
          routerLink="/"
          routerLinkActive="Active"
          > Login</a>
        </li>

        <li *ngIf="loggedIn()"  class="nav-item">
          <a class="nav-link"
          routerLink="/"
          routerLinkActive="Active"
          > Logout </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
