<div class="row">
  <div class="col-6 m-auto">

    <div class="card m-auto">
      <div class="card-header">
          Login
      </div>
      <div class="card-body">
        <form  (ngSubmit)='onSubmit(Form)' #Form="ngForm">
          <div class="form-group col-12">
            <label>User Name</label>
            <input class="form-control" #propName="ngModel"  ngModel name="username" required>
            <span *ngIf="!propName.valid && propName.touched" class="error-block">Please enter valid email address</span>
          </div>
          <div class="form-group col-12">
            <label>Password</label>
            <input type="password" #propPassword="ngModel"  class="form-control" ngModel name="password" required>
            <span *ngIf="!propPassword.valid && propPassword.touched" class="error-block">Please enter password</span>
          </div>
          <div class="form-group col-12">
            <!-- <button   type="submit" class="btn btn-primary" routerLink="/home" >Login</button> -->
            <button [disabled]="!Form.valid"   type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>
