

	<ul id="accordion" class="accordion" >
		<li *ngFor="let menu of menus; let i = index" 
		  [class.active]="menu.active">
		  <div class="menu" (click)="toggle(i,menu.name,submenu.name)" routerLinkActive="active">
			<i [class]="menu.iconClass"></i>
			<a routerLink="{{menu.menuUrl}}" >{{ menu.name }}</a>
			
			<div *ngIf="menu.iconClass==='1' ">
				<i class="fa fa-chevron-down"></i>
			</div>
		  </div>
		  <ul class="submenu" (click)="toggle(i,menu.name,submenu.name)"  #submenu 
			[style.height.px]="menu.active ? submenu.scrollHeight : 0">
			<li *ngFor="let submenu of menu.submenu">
			  <a routerLink="{{submenu.url}}">{{ submenu.name }}</a>
			</li>
		  </ul>
		</li>
	  </ul>

