<div class="container-fluid">
    <div class="row">
      <div class="col-sm-10">
        <app-navbar></app-navbar>
      </div>
      <div class="col-sm-2">
        <app-navbar></app-navbar>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-sm-2">
        <div class="container" style="margin-top: 70px;">
        <app-left-menu></app-left-menu>
      </div>
      </div>
      <div class="col-sm-10">
        <div class="container" style="margin-top: 70px; margin-left: 10px;">
      
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
              <!-- <li class="breadcrumb-item"><a href="#">Library</a></li> -->
              <li class="breadcrumb-item active" aria-current="page">Dashboard  </li>
            </ol>
          </nav>
            

          <div class="card" >
            <div class="card-body">
            <mat-form-field>
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
              </mat-form-field>
            
              <div class="example-container mat-elevation-z8 table table-striped table-bordered table-sm">
              <table mat-table [dataSource]="dataSource" matSort >
            
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                      <ng-container matColumnDef="stockCode">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef  > Stock Code</th>
                        <td mat-cell *matCellDef="let element"> {{element.stockCode}}  </td>
                      </ng-container>
            
                <!-- Position Column -->
                <ng-container matColumnDef="opCode">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef  > Op Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.opCode}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="assignTo">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef > Assign To </th>
                  <td mat-cell *matCellDef="let element"> {{element.assignTo}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="estimatedTime">
                  <th mat-header-cell mat-sort-header *matHeaderCellDef > Estimated Time</th>
                  <td mat-cell *matCellDef="let element"> {{element.estimatedTime}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef > Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="orderQty">
                  <th mat-header-cell *matHeaderCellDef> Order Qty </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderQty}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="startDate">
                  <th mat-header-cell *matHeaderCellDef> Start Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="productionQty">
                  <th mat-header-cell *matHeaderCellDef> Production Qty </th>
                  <td mat-cell *matCellDef="let element"> {{element.productionQty}} </td>
                </ng-container>
            
                <ng-container matColumnDef="scrapQTY">
                  <th mat-header-cell *matHeaderCellDef> Scrap QTY </th>
                  <td mat-cell *matCellDef="let element"> {{element.scrapQTY}} </td>
                </ng-container>
            
                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="completeDate" >
                      <th mat-header-cell *matHeaderCellDef> Complete Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.completeDate}} </td>
                    </ng-container>

                                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="orderDate" >
                      <th mat-header-cell *matHeaderCellDef> Order Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
                    </ng-container>

                                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="dueDate" >
                      <th mat-header-cell *matHeaderCellDef> Due Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
                    </ng-container>

                                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="inStage" >
                      <th mat-header-cell *matHeaderCellDef> In Stage</th>
                      <td mat-cell *matCellDef="let element"> {{element.inStage}} </td>
                    </ng-container>

                                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="drawing" >
                      <th mat-header-cell *matHeaderCellDef> Drawing</th>
                      <td mat-cell *matCellDef="let element"> {{element.drawing}} </td>
                    </ng-container>

                                       
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="division" >
                      <th mat-header-cell *matHeaderCellDef> Division</th>
                      <td mat-cell *matCellDef="let element"> {{element.division}} </td>
                    </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              
            
              <mat-paginator 
              [pageSizeOptions]="[5, 10, 25, 100]"> showFirstLastButtons </mat-paginator>
            
            </div>

            
            </div>
          </div>


            <!-- <div class="modal-footer">
                <button class="btn btn-outline-primary mb-2 mr-2" (click)="SaveAdminstrationData()">Save</button>
            
              </div> -->


              
        </div>
      </div>
    </div>
  
    </div>
  
  