
<div class="card" >
  <div class="img-wrapper">
    <img class="propImg-Top" src="assets/images/house_default.png">
  </div>

  <div class="card-body p-2">
    <h1>{{property.Type}}</h1>
    <h3>{{property.Id}}</h3>
    <h3>{{property.Price}}</h3>
    <p>{{property.Name}}</p>

    <div class="form-group col-12">

      <label>City</label>
      <select>
        <option *ngFor="let city of cityList"
        value="{{city}}">
        {{city}}

        </option>
      </select>

    </div>


    <button class="btn btn-primary" routerLink="/disa/{{property.Id}}" >click</button>
  </div>
</div>
